*
{
    margin=0;
    padding: 0;
    box-sizing: border-box;
}
.h{
    text-align: center;
}
main{
    width: 1000px;
    padding:25px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(150, 138, 138, 0.2);
}
.left{
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(255deg, #a9dcff, #fae1f5);
}
.right{
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(135deg, #c9e8fd, #f8cef0);
}
#one {
    display: grid;
    grid-template-columns: 4fr 4fr;
    gap: 15px;
}
